@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

.card {
    width: 275px;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
}

.card:hover {
    transform: scale(1.1);
}

.avatar {
    
    border-radius: 50%;
}

.title {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 10px 0 5px;
    font-size: 20px;
}

.paragraph {
    font-size: 15px;
    font-family: 'Arial', sans-serif;
}